/*******************Tag Selections******************/


h1 {
  color: red;
  font-size: 200px;
}

img:hover {
  width: 1000px;
}

/*******************Class Selections******************/

.bar {
  width: 300px;
}

/*******************ID Selections******************/
 #heading {
   color: blue;
 }
